<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
body {font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align:center;}
/*a { text-decoration: none;}*/
#all {widht: 100%; text-align:center; margin:auto;}
#main {width: 96%; line-height: 2px; margin:auto; border:1px #ccc dashed; text-align: left; text-indent: 2em;}
.mt{
    width:600px;
    border:1px solid #aca7a7;
    border-collapse: collapse;
}

.mt td{

    border:1px solid #aca7a7;
}

</style>
</head>

<body>
<div id="all">
	
        <form th:action="@{/save}" method="post">

            <table class="mt">
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><input type="text" name="pname"/></td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>
                        <select name="gender" style="width:150px;">
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td><input type="text" name="pAddr"/></td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td><input type="text" name="birth"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="提交"/></td>

                </tr>




            </table>
        </form>
</div>
</body>
</html>
